# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

if SHIELD_SOFLEQ_LEFT

config ZMK_KEYBOARD_NAME
    default "Sofleq"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SOFLEQ_LEFT || SHIELD_SOFLEQ_RIGHT

config ZMK_SPLIT
    default y

endif
